<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.client"
    android:versionCode="1"
    android:versionName="1.0" >
 <!-- I am now Learning Branching and it's just freaking me out. -->
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.client.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.client.NewOrderActivity"
            android:label="@string/title_activity_new_order" >
        </activity>
        <activity
            android:name="com.example.client.CartActivity"
            android:label="@string/title_activity_cart" >
        </activity>
        <activity
            android:name="com.example.client.WaiterCartActivity"
            android:label="@string/title_activity_waiter_cart" >
        </activity>
    </application>

</manifest>
